body {
  background-color: #bbbbbb;
  font: black;
}

.column {
  width: 20%;
  float: left;
  margin-right: 10%; 
}

img {
  width: 100%;
  height: auto;
}

.emphasis { 
  font-weight: bold;
}

h1 {
  font-weight: normal;
  background-color: yellow;
  margin: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

p { 
  font-weight: lighter;
}

p.yelling {
  text-transform: uppercase;
}

p.bear {
  text-transform: capitalize;
  font-style: italic;
}

p.end {
  margin-top:30px;
}